@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,600;0,700;1,100;1,200;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 98%);
}
.header {
  background-image: url(../../todo-list-vite/images/bg-desktop-light.jpg);
  height: 300px;
  width: 100%;
  background-color: aqua;
  background-size: cover;
}
.Main-content {
  /* background-color: white; */
  display: flex;
  gap: 2em;
  padding: 25px;
  /* width: 50%; */
  flex-direction: column;
  position: relative;
  top: -11em;
  width: min(90%, 37.5rem);
}
.app {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.Main {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #ffff;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
form {
  background-color: white;
  border-radius: 0.3em;
}
ul,
ol {
  list-style: none;
}
input {
  padding: 15px;
  width: 100%;
  border-radius: 0.3em;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  color: 235 19% 35%;
}
.todo-wrapup {
  padding-left: 2.2em;
  padding-block: 0.8em;
  background: white;
  border-radius: 0.3em;
  min-height: 85px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.todo-footer {
  display: flex;
  gap: 5em;
}
button {
  border-style: none;
}

li {
  border-bottom: solid 1px;
  border-color: hsl(233, 11%, 84%);
  padding-block: 0.8em;
  padding-left: 2.2em;
}
.todo-tab {
  display: flex;
  gap: 1em;
}
